name: Pulumi Preview (Manual)

on:
  workflow_dispatch:

jobs:
  preview:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Symlink Pulumi policies into workspace
        run: |
          mkdir -p "$HOME/.pulumi/policies"
          mkdir -p .pulumi
          ln -s "$HOME/.pulumi/policies" .pulumi/policies

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"
          cache-dependency-path: |
            requirements.txt
            .pulumi/policies/**/requirements.txt

      - name: Pulumi Preview
        uses: pulumi/actions@v6
        with:
          command: preview
          stack-name: jkodroff-bc/pytest/dev
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
