name: Pulumi Preview (Manual)

on:
  workflow_dispatch:

jobs:
  preview:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Export Python version
        shell: bash
        run: echo "PYTHON_VERSION=$(python3 --version | cut -d' ' -f2)" >> $GITHUB_ENV

      - name: Export ImageVersion
        shell: bash
        run: echo "IMAGE_VERSION=$ImageVersion" >> "$GITHUB_ENV"

      - name: Cache Pulumi Plugins
        uses: actions/cache@v4
        with:
          path: ${{ env.HOME }}/.pulumi/policies
          key: pulumi-plugins-${{ runner.os }}-${{ runner.arch }}-${{ env.IMAGE_VERSION }}-py${{ env.PYTHON_VERSION }}

      - name: Cache Pulumi Policies
        uses: actions/cache@v4
        with:
          path: ${{ env.HOME }}/.pulumi/policies
          key: pulumi-policies-${{ runner.os }}-${{ runner.arch }}-${{ env.IMAGE_VERSION }}-py${{ env.PYTHON_VERSION }}

      - name: Pulumi Preview
        uses: pulumi/actions@v6
        with:
          command: preview
          stack-name: jkodroff-bc/pytest/dev
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
